.phpContainer{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    background-color:var(--main-background);
    padding: 30px 0;
  }


  .page_break{
    margin-top: 20px;

  }

  
  .phpContainer p{
    font-size: 22px;
    margin-top:10px;
  }


  .prototype{
    max-width: 75%;
    height:auto;
    margin-top:20px;
  }

  .triple_container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap:10px;
    padding: 20px;
}

.login, .search, .edit{
    max-width: 35%;
    height: auto;
}

.dataImg_container{
  text-align: center;
}

.SQL{
    max-width: 75%;
    height: auto;
    margin-top: 30px;
}
.result{
    max-width: 75%;
    height: auto;
    margin-top: 30px;
}


.csrfToken,
.sqlInjection,
.encryptedData,
.xssCode,
.limitAttempts{
  max-width: 100%;
    height: auto;
}




  @media (max-width: 780px) {
    .phpContainer p{
        font-size: 20px;
        margin-top:5px;
      }

      .protptype_container{
        display: flex;
        justify-content: center;
      }

      .prototype{
        max-width: 65%;
        height:auto;
        margin:20px 0;
      }

      .dataImg_container{
        display: block;
        justify-content: center;
      }

      .SQL{
        max-width: 70%;
    }
    .result{
        max-width: 70%;
    }
    .login, .search, .edit{
        max-width: 30%;
        height: auto;
    }





  }



  @media (max-width: 500px) {

    .phpContainer p{
        font-size: 16px;
        margin-top:5px;
      }


    .triple_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:20px;
        padding: 10px 0px;
    }

    .login, .search, .edit{
        min-width:170px;
    }

    .dataImg_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .SQL{
        max-width: 65%;
        height: auto;
        margin-top: 0px;
    }
    .result{
        max-width: 65%;
        height: auto;
        margin-top: 20px;
    }
    }