.startUpContainer{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    background-color:var(--main-background);
    padding: 30px 0;
  }

  
  .StartUpcontainer p{
    font-size: 22px;
    margin-top:10px;
  }
  .statUp_img{
    max-width: 90%;
    height: auto;
    margin: 20px 0;
    display: flex;
    justify-self: center;
  }

  .right{
    max-width: 90%;
    margin-left: 20px;
    margin-top: 50px;
  }

  .page_break{
    margin-top: 100px;
    margin-bottom: 50px;
  }


  .moreDetailButton{
    border: none;
    border-radius: 20px;
    background: linear-gradient(320deg, #f900f3 15%, #2f0bcf 100%);
    color: white;
    width: 250px;
    padding: 20px 20px;
    cursor: pointer;
    transition: 0.3s;
    margin:50px 0;
    font-size: 20px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    gap: 10px;
    
  }

  .moreDetailButton:hover{
    transform: scale(1.05);
    background: linear-gradient(320deg, rgba(249, 0, 243, 0.5) 15%, rgba(47, 11, 207, 0.5) 100%);
}


.lightMode_img{
    max-width: 35%;
    height:auto;
    margin-top: 50px;
}
.darkMode_img{
    max-width: 35%;
    height:auto;
    margin-top: 50px;
}
.navShadowCode1{
    max-width: 70%;
    height:auto;
    margin-top: 20px;
}
.navShadowCode2{
    max-width: 90%;
    height:auto;
    margin-top: 10px;
}

.imgBlock_container{
    display: grid; 
        grid-template-columns: 1fr;
        justify-items:center; 
}

.textComponent{
    max-width: 90%;
    height:auto;
    margin-top: 20px;
}

.textComponentCode1, .textComponentCode2{
    max-width: 90%;
    height:auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.reviewCard{
    max-width: 90%;
    height:auto;
    margin-top:100px;
}
.pricingCard{
    max-width: 80%;
    height:auto;
    margin-top: 10px;
}
.clientComponentCode{
    max-width: 90%;
    height:auto;
    margin-top: 10px;
}
.priceCardCode{
    max-width: 90%;
    height:auto;
    margin-top: 10px;
}

.closeDetailButton{
    border: none;
    border-radius: 20px;
    background: linear-gradient(320deg, #f900f3 15%, #2f0bcf 100%);
    color: white;
    width: 250px;
    padding: 20px 20px;
    cursor: pointer;
    transition: 0.3s;
    margin:70px 0;
    font-size: 20px;
    display: flex; 
    justify-self:center;
    align-items: center; 
    justify-content: center; 
    gap: 10px;
    
  }

  .closeDetailButton:hover{
    transform: scale(1.05);
    background: linear-gradient(320deg, rgba(249, 0, 243, 0.5) 15%, rgba(47, 11, 207, 0.5) 100%);
}





@media (max-width: 780px) {
.detailButtonContainer{
    display: flex; 
    justify-content: center;
  }

  .StartUpcontainer p{
    font-size: 20px;
    margin-top:5px;
  }
  .right{
    margin-top: 10px;
  }

  .page_break{
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .lightMode_img, .darkMode_img{
    max-width: 40%;
    height:auto;
    padding: 0;
    margin:0;
}
  .navShadowCode1,
  .navShadowCode2,
  .textComponent,
  .textComponentCode1,
  .textComponentCode2,
  .reviewCard,
  .pricingCard,
  .clientComponentCode,
  .priceCardCode{
        max-width: 100%;
        height:auto;
        margin-top: 10px;
  }

  .reviewCard{
    margin-top:10px;
}


.closeDetailButton{
    display: flex; 
    justify-content: center;
  }
}

@media (max-width: 500px) {

    .StartUpcontainer p{
        font-size: 16px;
        margin-top:5px;
      }



      .moreDetailButton, .closeDetailButton{
        width: 250px;
        padding: 15px 10px;
        cursor: pointer;
        transition: 0.3s;
        margin:30px 0;
        font-size: 18px;
        gap: 10px;
        
      }
    
}